/*.bg {
    height:100vh;
    width:100vw;
    background-color:#111;
}

.mainCard {
    position:absolute;
    top:100px;
    width:80vw;
    left:10vw;
    bottom:100px;
    font-size:26px;
    color:#222;
    line-height:50vh;
    background-color:#ddd;
    text-align:center;
}
*/
